<div class="dialog-background">
    <h2 class="dialog-title" mat-dialog-title>{{ isNewMedicine ? 'Adicione um medicamento' : 'Editar medicamento' }}</h2>

    <mat-dialog-content [formGroup]="form">
        <div class="schedule-input-wrapper y-central">
            <label class="schedule-input-label">Nome:</label>
            <input class="schedule-input" matInput formControlName="medicine_name">
        </div>
        <div class="schedule-input-wrapper y-central">
            <label class="schedule-input-label">Hórario:</label>
            <input type="tel" class="schedule-input" matInput [textMask]="{mask:timeMask, guide:false}" formControlName="start_time">
        </div>
        <div class="schedule-input-wrapper y-central">
            <label class="schedule-input-label">Dosagem:</label>
            <input type="number" class="schedule-input" matInput formControlName="dosage">
        </div>
        <div class="schedule-input-wrapper y-central">
            <label class="schedule-input-label">Vezes/dia:</label>
            <input type="number" class="schedule-input" matInput formControlName="day_frequence">
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div class="dialog-button xy-central cancel-button" (click)="close()">
            <img src="../../assets/icons/cancel.svg">
        </div>
        <div class="dialog-button xy-central ok-button" (click)="save()">
            <img src="../../assets/icons/checked.svg">
        </div>
    </mat-dialog-actions>
</div>