<div class="login-container">
    <div class="login-logo xy-central">
        <img src="../../assets/icons/medicine.svg">
    </div>

    <div class="login-app-name">
        smartPill
    </div>

    <mat-form-field class="login-field">
        <input matInput placeholder="email" type="email">
    </mat-form-field>

    <mat-form-field class="login-field">
        <input matInput placeholder="senha" type="password">
    </mat-form-field>

    <button class="login-button" mat-button>Login</button>
</div>