<div class="login-container">
    <div class="login-top y-central column">
        <div class="login-logo xy-central">
            <img src="../../assets/icons/medicine.svg">
        </div>
        <div class="login-app-name">
            smartPill
        </div>
    </div>

    <div class="login-middle">
        <label>Login</label>
        <label>Cadastrar</label>
    </div>

    <swiper class="xy-central swiper-container" [config]="swiperConfig">
        <div class="swiper-slide" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            <mat-form-field class="login-field">
                <input matInput placeholder="email" type="email">
            </mat-form-field>

            <mat-form-field class="login-field">
                <input matInput placeholder="senha" type="password">
            </mat-form-field>

            <button class="login-button" mat-button (click)="toggleLoginView()">Continuar</button>
        </div>
        <div class="swiper-slide" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            <mat-form-field class="login-field">
                <input matInput placeholder="email" type="email">
            </mat-form-field>

            <mat-form-field class="login-field">
                <input matInput placeholder="senha" type="password">
            </mat-form-field>

            <mat-form-field class="login-field">
                <input matInput placeholder="confirmar senha" type="password">
            </mat-form-field>

            <button class="login-button" mat-button (click)="toggleLoginView()">Cadastrar</button>
        </div>
    </swiper>
</div>