.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(34, 37, 39), rgb(56, 62, 65));
    color: white; 
    width: 100vw;
    height: 100vh;
}
.login-top {
    height: 35%;
    width: 100%;
    justify-content: flex-end;
}
.login-middle {
    height: 8%;
    width: 100%;
    justify-content: space-around;
    display: flex;
    text-transform: uppercase;
    align-items: flex-end;
}
.login-middle label {
    margin-bottom: 5px;
}
.swiper-container {
    height: 57%;
    width: 100%;
}
.login-field {
    width: calc(100% - 60px);
    margin: 20px auto;
}
.login-button {
    width: calc(100% - 60px);
    margin: 20px auto;
    background-color: #fc3952;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}
.mat-input-element{
    height: 7vh;
    border-radius: 5px;
    text-align: center;
}
.login-logo {
    height: 30vw;
    width: 30vw;
}
.login-logo img {
    height: 70%;
}
.login-app-name {
    font-size: 2em;
}