body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.xy-central {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.y-central {
    display: flex !important;
    align-items: center;
}
.x-central {
    display: flex !important;
    justify-content: center;
}
.column {
    display: flex !important;
    flex-direction: column;
}
.mat-form-field-infix {
    border-bottom: 1px solid #95a5a6 !important;
}
.swiper-container-horizontal>
.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    bottom: -10px !important;
    left: 0;
    width: 50% !important;
}

swiper>.swiper.s-wrapper .swiper-wrapper .swiper-slide {
    display: flex !important;
    flex-direction: column !important;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 50% !important;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}
.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 50;
    height: 3px !important;
    width: 100% !important;
}
